
@{
    ViewBag.Title = "Balance Sheet";
}

<h2>BALANCE SHEET AS AT @(ViewBag.CurrentFinancialDate)</h2>
<table class="table">
    
    <tr>
        <th></th>
        <th><span data-currency-iso="NGN">&#8358;</span></th>
    </tr>
    <tr>
        <td><strong>Assets</strong></td>
        <td></td>
    </tr>
    <tr>
        <td>Deposits at CBN</td>
        <td>100,000</td>
    </tr>
    <tr>
        <td>Customer Loans</td>
        <td>100,000</td>
    </tr>
    <tr>
        <td> Other loans </td>
        <td>100,000</td>
    </tr>
    <tr>
        <td>Premises  and  fixed  assets </td>
        <td>100,000</td>
    </tr>
    <tr>
        <td> <i>Other Assets</i> </td>
        <td>100,000</td>
    </tr>
    <tr>
        <td><strong>Total assets</strong></td>
        <td>100,000</td>
    </tr>


    <tr>
        <td><strong>Liabilities and Equity Capital</strong></td>
        <td></td>
    </tr>
    <tr>
        <td>Customer Deposits</td>
        <td>100,000</td>
    </tr>
    <tr>
        <td> Other liabilities </td>
        <td>100,000</td>
    </tr>
    <tr>
        <td> <i>Total Liabilities</i> </td>
        <td>100,000</td>
    </tr>
    <tr>
        <td>Surplus and paid-in capital</td>
        <td>100,000</td>
    </tr>
    <tr>
        <td>Retained Earnings</td>
        <td>100,000</td>
    </tr>
    <tr>
        <td><i> Total equity capital</i> </td>
        <td>100,000</td>
    </tr>
    <tr>
        <td><strong>Total liabilities and equity capital</strong></td>
        <td>100,000</td>
    </tr>
    

</table>
